html,
body {
	margin: 0;
	padding: 0;
}

.custom-overlay {
	background-color: rgba(144, 238, 144, 0.6);
}

.custom-sidedrawer {
	padding: 15px;
	background-color: #df4747;
	color: #fff;
	font-size: 16px;
	width: 300px;
}